// Colores bootstrap
$primary: hsl(0, 1%, 17%);
$secondary: hsl(0, 0%, 100%);
$info: hsl(208, 97%, 87%);
$danger: hsla(352, 76%, 48%, 0.732);
$success: hsla(127, 59%, 73%, 0.88);
$warning: hsla(42, 95%, 57%, 0.755);
$border: hsla(0, 1%, 17%, 0.736);
// Color personalizados
$color-grey-form: hsl(220, 3%, 82%);
$border-blue: hsl(216, 85%, 28%);

//Importar Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../../node_modules/bootstrap-icons/font/bootstrap-icons.css';

// Importar partial _fonts
@import './_fonts.scss';

// CSS personalizado
body {
    overflow-x: hidden;    
}

.container {
    width: 80%; 
}

h1 {
    text-align: center;
    margin-top: 2rem;
}

input, select, button {
    height: 1.8rem;
}

input::placeholder {
    font-size: 0.8rem;
}

/* Mensaje de advertencia en caso de error */
/* Que al pinchar en el input y ponerlo en foco no salga una línea negra. */
input:focus{
    outline: none;
}

button {
    font-size: 0.8rem;
    border: none;
    background-color: $info;
    width: 4.5rem;    ;
}

button:hover {
    background-color: $border-blue;
    color: $secondary;
}

select {
    font-size: 0.8rem;
}

footer {
    text-align: center;
    margin: 2.5rem auto;
    padding: 0.6rem;
    background-color: $primary;
    color: $secondary;
    font-weight: bold;
    font-size: large;
    height: 100vh;  
}

/* Formulario para crear la tareas */
form.create-task {
    display: flex;
    flex-direction: column;
    align-items: flex-start;   
    gap: 1rem;
    margin: 1rem 0;
    padding: 1.2rem;
    border: solid 2px $border-blue;
    border-radius: 10px;
}

/* Formulario de filtrado y búsqueda */
form.filter-task {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.8rem;
    padding: 1.2rem;
    margin: 1rem 0;
    border: solid 2px $border-blue;
    border-radius: 10px;    
}

/* Bloque de tareas */
section.list-tasks {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1.2rem;
    border: solid 2px $border-blue;
    border-radius: 10px;    
}

/* Cada tarea */
article.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
    font-size: 0.8rem;      
}

article p {
    font-size: 0.8rem;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}

/* Poner el borde del input rojo */
.is-invalid {
    border: 2px solid $danger;
    color: $danger;
} 

/* Poner el placeholder rojo y fuente más gruesa */
input.is-invalid-placeholder-red::placeholder {
    color: $danger;
    font-weight: 700;
}
